<h1> Create a new board </h1>
<p> Create a secrate code for your board, so that your friends can assess to your board and share the precious moments!</p>

<%= simple_form_for @board do |f| %>
  <%= f.hidden_field :user_id %>
  <%= f.input :name %>
  <%= f.input :code %>
  <%= f.button :submit %>
<% end %>
