<h2> <%= @board.name%> </h2>
<h3> <%= @board.code %> </h3>


<% if user_signed_in? %>
  <% if @board.user_id == current_user.id %>


  <%= link_to "Back", root_path %>
  <%= link_to "Edit", edit_board_path(@board) %>
  <%= link_to "Delete", board_path(@board), method: :delete, data: {confirm: "Are you sure?"} %>

  <% end %>
<% end %>
