<% if user_signed_in? %>
<% if @board.user_id == current_user.id or @has_code==true %>
  <h1><%=@board.name%></h1>
  <p>Access code for this board: <%=@board.code%></p>
  <%= link_to "Back to profile", root_path %> |
  <%= link_to "Edit board", edit_board_path(@board) %> |
  <%= link_to "Delete board", board_path(@board), method: :delete, data: {confirm: "Are you sure?"} %>|
  <%= link_to "Add a Picture", new_picture_path(:board_id => @board) %>
  <% @picture.each do |picture| %>
      <%= image_tag picture.image_url(:thumb) if picture.image? %>
      <%= link_to "delete", destroy_picture_path(@picture), method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
<% end %>
<% end %>
