        <title>Memory Board</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/main.css">
        <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Quicksand:400,300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Arima+Madurai:200' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <body id="welcomeindex">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <ul class="nav navbar-nav">
                    <% if user_signed_in? %>
                    <li><%= link_to "Profile", root_path %></li>
                    <li><%= link_to "Create", new_board_path %></li>
                    <li><%= link_to "Find", search_board_path %></li>
                    <% end %>
                <!-- </ul>
                <ul class="nav navbar-tabs navbar-right"> -->
                    <% if user_signed_in? %>
                    <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %> </li>
                    <!-- <li> Signed in as <%= current_user.email %> </li> -->
                <% else %>
                    <li><%= link_to 'Register', new_user_registration_path %></li>
                    <li><%= link_to 'Sign in', new_user_session_path %></li>
                    <% end %>
                </ul>
            </div>
        </nav>
        <%= yield %>
